{%include 'header.html'%}
<!-- aqui vamos a dividir en filas y columnas de bootstrap para que este centreado el formulario-->
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Nuevo Producto
            </div>
            <div class="card-body">
                <!-- en esta parte se coloca el def de donde va enviar el boton Enviar  en la action del form -->
               <form action="{{url_for('guardar')}}" method="POST">
                    <div class="mb-3">
                        <label for="" class="form-label">Descripción</label>
                        <input type="text" class="form-control" name ="descripcion" required>

                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" name ="cantidad" required>

                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Precio</label>
                        <input type="number" class="form-control" name ="precio" required>

                    </div>
                    <button  type ="submit" class="btn btn-primary">Enviar</button>
               </form>
            </div>
        </div>
    
    </div>
    <div class="col-4"></div>
</div>


{%include 'footer.html'%}